/* @media (max-width: 1295px){
    .small-div {
        max-width: 1000px;
        width: 100%;
        justify-content: flex-end;
    }

} */

@media (max-width: 1091px) {
    .registergif {
        max-width: 60px;
        width: 100%;
        margin-left: 500px;
        margin-top: -30px;
    }
    .header-div {
        -webkit-box-pack:space-evenly;
            -ms-flex-pack:space-evenly;
                justify-content:space-evenly;
    }
    .header-nav-ul {
        font-size: 15px;
    }
    .left-block {
        margin-bottom: 40px;
    }
    .left-block h2 {
        text-align: center;
    }
    .left-block p {
        text-align: center;
    }
    .line1 {
        margin-top: 20px;
    }
    .footer-nav {
        display: none;
    }
  
}
@media (max-width: 944px ) {
   
    .footer-div {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .cont-line1 {
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
    }
}





@media (max-width: 910px ) {
   
   
    .header-div {
        height: auto;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
    }
        
    .header-nav-ul {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        line-height: 26px;
        margin-right: 100px;
        
        
    }
    .toggle-button {
        display: block;
    }
    
    .header-nav-ul li {
        text-align: center;
        font-size: 20px;
        margin-left: 200px;
        
        

        
    }
    .header-nav-ul.active {
        display: block;

    }
    .order-li {
        display: block;
    }
    
    .registergif {
       display: none;
    }
    .section1-div {
        margin-top: 270px;
    }
}
@media (max-width: 800px ){

    .small-div {
       -webkit-box-pack: center;
          -ms-flex-pack: center;
            justify-content: center;
   }
   .contact-form {
        margin-bottom: 50px;
}
}


    @media (max-width: 783px ) {
    .container2 {
        max-width: 700px;
        width: 100%;
       
        
    }
    .cont-line1 {
        margin-top: 25px;
        
    }
    .footer {
       
        width: 100%;
    }
    .footer-div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .foth4 {
        display: none;

    }
    .footer-div {
        margin-left: -80px;
    }
    
    .container3 p {
        max-width: 700px;
        width: 100%;
    }
      
    
 }


@media (max-width: 689px) {
    .footer-div-img {
        max-width: 250px;
        width: 100%;
        margin-left: 10px;
        margin-right: -20px;
    }
    .gifimage {
       margin-left: 20px;
       margin-bottom: 30px;
    }
    .footer-logos {
        font-size: 15px;
        
    }
    
    
}

@media (max-width: 530px) {
    
   
     
     .footer-div {
         max-width: 450px;
         width: 100%;
         margin-left: -50px;
         -webkit-padding-start: 50PX;
                 padding-inline-start: 50PX;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
        
     }
     .footer-div img {
         width: 100px;
         
     }

}
@media (max-width: 435px) {
    .mail {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: -50px;
      margin-top: 20px;
      
    }
    .addess {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .headerimg {
        width: 72%;
    }
    .footer-div{
        /*margin: 0 auto;*/
        max-width: 310px;
        /*width: 100%;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footerimg{
        max-width: 150px;
    }
    .footer-logos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 150px;
        width: 100%;
        font-size: 15px;
        margin-left: 65px;
    }
    .left-block h2 {
        font-size: 35px;

    }
    .container h3 {
        font-size: 35px;
    }
    .line1 img,
    .line2 img {
        max-width: 260px;
        width: 100%;

    }
    .line1 h3,
    .line2 h3 {
        font-size: 22px;
    
   }
    .line1 h4,
    .line2 h4 {
        font-size: 16px;
    }
    .line1 h5,
    .line2 h5 {
        font-size: 18px;
    }
    .container2 h3 {
        font-size: 35px;
    }
    .cont-line1 h3 {
        font-size: 22px;

    }
    .container3 h2{
        font-size: 35px;
    }
      
}
