

@media (max-width: 1091px) {
    .registergif {
        max-width: 60px;
        width: 100%;
        margin-left: 500px;
        margin-top: -30px;
    }
    .header-div {
        -webkit-box-pack:space-evenly;
            -ms-flex-pack:space-evenly;
                justify-content:space-evenly;
    }
    .header-nav-ul {
        font-size: 15px;
    }
    .left-block {
        margin-bottom: 40px;
    }
    .left-block h2 {
        text-align: center;
    }
    .left-block p {
        text-align: center;
    }
    .line1 {
        margin-top: 20px;
    }
    .footer-nav {
        display: none;
    }
   /* .footer-logos {
        margin-left: 200px;
    }*/
}
@media (max-width: 944px ) {
   /* .footer-logos {
        margin-left: 100px;
    }*/
    .footer-div {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .cont-line1 {
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
    }
}





@media (max-width: 783px ) {
   
   
    .header-div {
        height: auto;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
    }
        
    .header-nav-ul {
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        line-height: 26px;
        margin-right: 100px;
        
        
    }
    .toggle-button {
        display: block;
    }
    
    .header-nav-ul li {
        text-align: center;
        font-size: 20px;
        margin-left: 200px;
        
        

        
    }
    .header-nav-ul.active {
        display: block;

    }
    .order-li {
        display: block;
    }
    
    .registergif {
       display: none;
    }
    .section1-div {
        margin-top: 270px;
    }
    .container2 {
        max-width: 700px;
        width: 100%;
       
        
    }
    .cont-line1 {
        margin-top: 25px;
        
    }
    .footer {
        /* max-width: 1940px; */
        width: 100%;
    }
    .footer-div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .foth4 {
        display: none;

    }
    .footer-div {
        margin-left: -80px;
    }
    /*.footer-logos {
        margin-left: 100px;
    }*/
    .container3 p {
        max-width: 700px;
        width: 100%;
    }
    .contact-form {
        margin-bottom: 50px;
    }
    .small-div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
   
    
 }

 /*@media (max-width: 730px) {
    .footer-logos {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
                font-size: 20px;
        
    }
    .footer-div-img {
        max-width: 250px;
        width: 100%;
    
    
}*/ 
@media (max-width: 689px) {
    .footer-div-img {
        max-width: 250px;
        width: 100%;
        margin-left: 10px;
        margin-right: -20px;
    }
    .gifimage {
       margin-left: 20px;
       margin-bottom: 30px;
    }
    .footer-logos {
        font-size: 15px;
        
    }
    
    
}

@media (max-width: 530px) {
    
   
     
     .footer-div {
         max-width: 450px;
         width: 100%;
         margin-left: -50px;
         -webkit-padding-start: 50PX;
                 padding-inline-start: 50PX;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
        
     }
     .footer-div img {
         width: 100px;
         
     }

}
@media (max-width: 435px) {
    .mail {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: -50px;
      margin-top: 20px;
      
    }
    .addess {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .headerimg {
        width: 72%;
    }
    .footer-div{
        /*margin: 0 auto;*/
        max-width: 310px;
        /*width: 100%;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .qwerty{
        max-width: 150px;
    }
    .footer-logos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 150px;
        width: 100%;
        font-size: 15px;
    }
    
}
