
.body {
    background-color:mistyrose;
}
.index-body {
    background-color:#FFF0F5;
   
}
.reg-body {
    background-color: #FFF0F5;
}

header {
    /*max-width: 1920px;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightpink;
    /* border-bottom: pink; */
    z-index: 100;
    margin-bottom: 50px;
}
.header-div {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    height: 133px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;
   
    
    
  
}
.headerimg {
    margin-top: auto;
    max-width: 244px;
    width: 100%;
    

}
.header-nav-ul {
    max-width: 890px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    color: #42495B;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
   
    
   
}
.header-nav-ul li {
    margin-right: 30px;
    
}
.header-nav-ul li:hover {
    color: palevioletred;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;


}
.registergif {
    max-width: 120px;
    width: 100%;
   
    
    
}
.order-li {
    display: none;
}
.registergif:hover {
    max-width: 130px;
    
}
.toggle-button {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 30px;
    color: palevioletred;
    cursor:pointer;
    display: none;

}
.toggle-button:hover {
    font-size: 40px;
}



/* section1 */
section {
    margin-top: 200px;
}
.section1-div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
}
.left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 603px;
    width: 100%;
    padding-left: 60px;
    
}
.left-block h2 {
    max-width: 595px;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Emilys Candy', cursive;
    margin-bottom: 40px;
    color: lightpink;
    text-shadow:2px 2px purple;
    
}
.left-block p {
    max-width: 642px;
    width: 100%;
    font-size: 23px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    color: purple;
    
}

.right-block {
    max-width: 745px;
    width: 100%;
}
.right-block img {
    max-width: 770px;
    width: 100%;
    padding: 1px;
    -webkit-box-shadow: 1px 1px 8px 10px pink;
            box-shadow: 1px 1px 8px 10px pink;
}

/* section2  */

.container {
    max-width: 1940px;
    width: 100%;
    /* height: 1040px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}
.container h3 {
    text-align: center;
    max-width: 480px;
    width: 100%;
    font-size: 47px;
    font-weight: 600;
    font-family: 'Emilys Candy', cursive;
    color: pink;
    margin-bottom: 50px;
    text-shadow:2px 2px purple;
    
}
.container-line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* max-width: 1940px; */
    width: 100%;
    /* height: 540px; */
    
}
.line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 488px;
    width: 100%;
    

}
.line1 img {
    max-width: 300px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 10px 10px #8888;
            box-shadow: 5px 5px 10px 5px #8888;
    
}
.line1 h3,
.line2 h3 {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #C19C9C;
    margin-top: 10px;
    margin-bottom: 5px;
}
.line1 h4,
.line2 h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #565656;
    margin-bottom: 5px;
}
.line1 h5,
.line2 h5 {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Hina Mincho', serif;
    color: #42495B;
    -webkit-animation: sale 5s infinite;
            animation: sale 5s infinite;
    
   
    
}
@-webkit-keyframes sale {
   
    0% {font-size: 17px;}
    50% { font-size: 19px;}
  
}
@keyframes sale {
   
    0% {font-size: 17px;}
    50% { font-size: 19px;}
  
}

.container-line2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* max-width: 1640px; */
    width: 100%;
    /* height: 540px; */

}
.line2 { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 488px;
    width: 100%;
    margin-top: 50px;

}
.line2 img {
    max-width: 300px;
    width: 100%;
    /* height: 300px; */
    opacity: 1.0;
    -webkit-box-shadow: 5px 5px 10px 5px #8888;
            box-shadow: 5px 5px 10px 5px #8888;
}

.line2 img:hover,
.line1 img:hover {
    opacity: 0.4;
}
h5::before {
    content: "SALE ";
    color: red;
    font-size: 18px;
  
}



/* section3 */
.container2 {
    max-width: 1940px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    

}
.container2 h3 {
    text-align: center;
    max-width: 380px;
    width: 100%;
    font-size: 47px;
    font-weight: 600;
    font-family: 'Emilys Candy', cursive;
    color: pink;
    margin-bottom: 10px;
    text-shadow:2px 2px purple;

}
.container2-line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    width: 80%;
    padding-top: 45px;

}
.cont-line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 188px;
    width: 100%;


}
.cont-line1 img {
    max-width: 200px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 10px 5px #8888;
            box-shadow: 5px 5px 10px 5px #8888;
     

}
.cont-line1 img:hover {
     width: 300px;
     
}

.cont-line1 h3 {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #C19C9C;
    margin-top: 10px;
    margin-bottom: 5px;

}
.cont-line1 h4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #565656;
    margin-bottom: 5px;

}
.cont-line1 h5 {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Hina Mincho', serif;
    color: #42495B;
    -webkit-animation: sal 5s infinite;
            animation: sal 5s infinite;
    
   
    
}
@-webkit-keyframes sal {
   
        0% {font-size: 17px;}
        50% { font-size: 19px;}
      
    }
@keyframes sal {
   
        0% {font-size: 17px;}
        50% { font-size: 19px;}
      
    }
    


/* slick */
.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.multiple-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.slider .slider_item {
    max-width: 350px;
    width: 100%;
    height: 250px;
    margin:30px;
}
.slider .slider_item img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}

/* section4 */
.container3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
.container3 h2 {
    
    max-width: 380px;
    width: 100%;
    font-size: 47px;
    font-weight: 600;
    font-family: 'Emilys Candy', cursive;
    
    color: pink;
    margin-bottom: 20px;
    text-shadow:2px 2px purple;

}
.container3 h4 {
    font-size: 35px;
    font-family: 'Hina Mincho', serif;
    color: mediumorchid;
    margin-top: 80px;
    
}
.container3 p {
    font-size: 25px;
    font-family: 'Hina Mincho', serif;
    line-height: 25px;
    margin-top: 35px;
    color: dimgrey;
}

/* section5 order form */
.container4 {
    max-width: 940px;
    width: 100%;
    /* height: 1040px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
}
.container4h3 {
    text-align: center;
    max-width: 380px;
    width: 100%;
    font-size: 47px;
    font-weight: 600;
    font-family: 'Emilys Candy';
    color: pink;
    margin-bottom: 50px;
    text-shadow:2px 2px purple;

}
.container4 h4 {
    text-align: center;
    max-width: 780px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Emilys Candy', cursive;
    color:purple;
    margin-bottom: 50px;
    

}
.leftblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    max-width: 700px; 
    width: 100%; 
    
}

/* order form */
.rightblock {
   
    max-width: 800px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    margin: auto 0;
    background-color: lightpink;

}

.label-wrapper {
    margin-left: 180px;
    margin-top: 3px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: purple;
}
.form-wrapper {
    max-width: 420px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    
   
}
.input-wrapper {
    max-width: 920px;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color:purple;
    opacity: 0.4 ;
    margin-top: 9px;
    margin-bottom: 15px;
}
.input-wrap {
    color: purple;
    background-color: purple;
}
.checkbox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 10px;
    color: purple;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    

}

.ordermessage {
    max-width: 420px;
    width: 100%;
    height: 200px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #2E2E2E;
    opacity: 0.4 ;
    margin-top: 9px;
    margin-bottom: 15px;

}
.form-p {
    margin-right: 15px;
}
.button-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 151px;
    width: 100%;
    height: 32px;
    margin: 0 auto;
    
    
    
   
    
    
}
.button-type button {
    color: #FFFFFF;
    background-color: purple;
    height: 55px;
    font-size: 22px;
    font-family: 'Hina Mincho', serif;
    cursor: pointer;
    -webkit-animation: order 0.5s infinite;
            animation: order 0.5s infinite;
    
   
    
}
@-webkit-keyframes order {
    0% {background-color: pink; font-size: 20px;}
    50% {background-color: lightcoral; font-size: 22px;}
    100% {background-color: mediumpurple; font-size: 24px;}
    
    
   
}
@keyframes order {
    0% {background-color: pink; font-size: 20px;}
    50% {background-color: lightcoral; font-size: 22px;}
    100% {background-color: mediumpurple; font-size: 24px;}
    
    
   
}


.button-type button:hover {
    background-color:palevioletred;
    font-size: 26px;
    color: purple;
    

    
} 
.gifimage {
    width: 90%;
    
}

/* registerhtml */
/* .registerform {
   
    max-width: 1800px;
    width: 100%;
    height: 750px;
    margin: 0 auto;
    background-color: lightpink;
   

}

.label-wrapper1 {
    margin-left: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: purple;
}
.form-wrapper1 {
    max-width: 420px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    
   
}
.input-wrapper1 {
    max-width: 920px;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #2E2E2E;
    opacity: 0.4 ;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-type {
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Emilys Candy', cursive;
    background-color: purple;
    max-width: 151px;
    width: 100%;
    height: 32px;
   
}

.button-type:hover {
    background-color:palevioletred;
    font-size: 20px;
    
}
.formh3 {
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
    color: purple;
    margin-left: 450px;
    margin-bottom: 50px;
} */

/* contact html */
.contact-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    
}
.contact-div h2 {
    color: purple;
    font-size: 65px;
    font-family: 'Emilys Candy', cursive;
}
.contact-div h3 {
    color: purple;
    font-size: 35px;
    font-family: 'Emilys Candy', cursive;
    margin-top: 50px;
    margin-bottom: 18px;

}
.contact-div p {
    font-size: 21px;
    font-family: 'Emilys Candy', cursive;
    color: grey;
    margin-bottom: 10px;
}

.contact-wrapper {
    max-width: 1920px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 90px;
    
}
.formwrapper2 {
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    
   
}

.contact-form h3 {
    font-size: 30px;
    font-family: 'Emilys Candy', cursive;
    color: purple;
    margin-bottom: 20px;
}
.contact {
    max-width: 1500px;
    width: 100%;
    height: 35px;
    opacity: 1.0; 
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: inherit;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: purple;
}
::-webkit-input-placeholder {
    color: purple;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
::-moz-placeholder {
    color: purple;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
:-ms-input-placeholder {
    color: purple;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
::-ms-input-placeholder {
    color: purple;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
::placeholder {
    color: purple;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
.submit {
    color: purple;
    font-size: 25px;
    font-family: 'Emilys Candy', cursive;
    border-radius: 20px 20px 20px 20px;
    border-color: purple;
    background-color: white;
    max-width: 150px;
    width: 100%;
    height:45px;
    margin-top: 30px; 
    cursor: pointer;
    -webkit-animation: submit 0.9s infinite; 
            animation: submit 0.9s infinite;
    
   
    
}
@-webkit-keyframes submit {
    0% {background-color: pink;color: powderblue;}
    10% {background-color: palevioletred;color: lightseagreen;}
    20% {background-color: lightseagreen;color: magenta;}
    30% {background-color: lightskyblue;color: pink;}
    40% {background-color: limegreen;color: plum;}
    50% {background-color: lightcoral;color: yellowgreen;}
    60% {background-color: lightblue;color: violet;}
    70% {background-color: yellowgreen;color: lightskyblue;}
    80% {background-color: plum;color: limegreen;}
    90% {background-color: peachpuff;color: mediumblue;}
    100% {background-color: powderblue;color: mediumpurple;}
    
   
}
@keyframes submit {
    0% {background-color: pink;color: powderblue;}
    10% {background-color: palevioletred;color: lightseagreen;}
    20% {background-color: lightseagreen;color: magenta;}
    30% {background-color: lightskyblue;color: pink;}
    40% {background-color: limegreen;color: plum;}
    50% {background-color: lightcoral;color: yellowgreen;}
    60% {background-color: lightblue;color: violet;}
    70% {background-color: yellowgreen;color: lightskyblue;}
    80% {background-color: plum;color: limegreen;}
    90% {background-color: peachpuff;color: mediumblue;}
    100% {background-color: powderblue;color: mediumpurple;}
    
   
}

.submit:hover {
    color:palevioletred;
    font-size: 30px;
    
}
.textwrap {
    max-width: 420px;
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 5px 5px;
    border-color: inherit;
}
.small-div {
    max-width: 1400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    font-size: 20px;
    font-family: 'Emilys Candy', cursive;
    margin-top: 50px;
    margin-bottom: 50px;
    color: purple;
    
}
.address {
    margin-right: 50px;
    
}
.address h4,
.mail h4 {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Emilys Candy', cursive;
}
.mapouter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-shadow: 5px 5px 10px 5px #8888;
                box-shadow: 5px 5px 10px 5px #8888;
}

/* footer */
footer {
    width: 100%;
    background-color: lightpink;
}

.footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1720px;
    width: 100%;
    padding-left: 75px;
    padding-top: 20px;
   
}

.footerimg {
    max-width: 400px;
    width: 100%;
}
.footer-div-img{
    max-width: 400px;
    width: 100%;
}
.footer-div h4 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.footer-nav{
    max-width: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    margin: auto 0;
    line-height: 30px;
    font-size: 20px;
}
.footer-logos {
    max-width: 400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        
    -webkit-box-pack:space-evenly;
    
        -ms-flex-pack:space-evenly;
    
            justify-content:space-evenly;
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    
}

.footer-logos i {
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, transform 2s;
    transition: width 2s, height 2s, transform 2s;
    transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}
.footer-logos i:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    color: purple;
    
    

}
.foth4 {
   
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
}

/*map*/


.mapouter {
       position:relative;
       text-align:right;
       max-width:600px;
       width:100%;
       height:400px;
}
.gmap_canvas {
        overflow:hidden;
        background:none!important;
        max-width:600px;
        width:100%;
        height:400px;
}

 .gmap_iframe {
    max-width:600px!important;
    width: 100% !important;
    height:400px!important;
}